body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --dark: #19283f;
    --yellow: #ffcc00;
    --blue: #33cccc;
    --red: #ff3366;
    --blue-sky: #defcfc;
}

/* Header */
.navbar {
    background-color: var(--dark);
}
.navbar .navbar-toggler {
    color: white;
    border-color: white;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-nav .nav-link {
    color: white;
    font-weight: normal;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: var(--blue)
}

.navbar .search {
    color: var(--blue);
    border-left: 1px solid var(--blue);
}
.main-btn,
.main-btn:hover {
    color: var(--yellow);
    background-color: var(--red);
}
.main-btn:focus {
    outline-color: var(--yellow);
}

/* Landing */
.landing {
    background-color: var(--dark);
    height: calc(100vh - 75px);
}

/* Features */
.features {
    background-color: var(--blue-sky);
}

.features ul li {
    cursor: pointer;
    transition: .3s;
}
.features ul li.active {
    color: var(--yellow);
    background-color: var(--red);
}
.features ul li:hover {
    color: var(--yellow);
}
.main-title p {
    position: relative;
    width: fit-content;
    margin: auto;
}
.main-title p::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--yellow);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.features .feat {
    position: relative;
    overflow: hidden;
    padding: 0;
}

.features .feat::before {
    content: "See More";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(255 51 102 / 90%);
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
    transition: .5s;
}

.features .feat:hover::before {
    left: 0;
}

.features .feat img {
    width: 100%;
}
.features .feat-cashed {
    display: none;
}
.features .feat-block {
    display: block;
}

/* About */
.about {
    position: relative;
}
.about > p {
    max-width: 600px;
}

/* Team */
.team {
    position: relative;
    background-color: var(--blue-sky);
}
.team h2 {
    color: var(--yellow);
}
.team .card h5 {
    background-color: var(--blue);
}

.team .member {
    transition: .3s;
}
.team .member:hover {
    transform: translateY(-15px);
}

/*Project */
.project {
    background-color: var(--dark);
}

/* Block */
.block .card {
    border-color: #eee;
    transition: .3s;
    position: relative;
}
.block .card:hover {
    box-shadow: 10px 0px 10px rgb(0 0 0 / .3);
    transform: scale(1.1);
    z-index: 100;
}
@media (max-width: 787px) {
    .block .card:hover {
        transform: scale(1);
    }
}
/* Subscribe */
.subscribe {
    background-color: var(--yellow);
}
.subscribe input[type="text"] {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.subscribe input[type="text"]::placeholder {
    color: white;
}
.subscribe button {
    background-color: var(--dark);
}
/* Footer */
footer {
    background-color: var(--dark);
}
footer .blue {
    color: var(--blue);
}
footer .yellow {
    color: var(--yellow);
}
footer .link li:not(:last-child) {
    padding-bottom: 10px;
}
footer .icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 26px;
    color: white;
    margin-right: 15px;
    border-radius: 50%;
}
footer .icons div.facebook {
    background-color: #1877f2;
}
footer .icons div.twitter {
    background-color: #1da1f2;
}
footer .icons div.google-plus {
    background-color: #dd4b39;
}
footer .icons div.dribbble {
    background-color: #ea4c89;
}